body{
    height: auto;
    max-width: 100%;

}
.banner{
    position: relative;
    width: 90%; 
    margin: 0 auto;
}
.banner{
    color: rgb(22, 3, 3);
}
.heading{
    color: white; 
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
}
.header{
    color: white;
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
}
.paragraph{
    color: white;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
}
.logo1{
    size: 40%;
    position: absolute;
    width: 10%;
    bottom: 40%;
    left: 50%;
}
.logo2{
    width: 5%;
    position: absolute;
    top: 120%;
    left: 50%;
    font-size: x-small;
} 
.header2{
    position: relative;
    text-decoration-color: white;
    font-size:10vw;
    width: auto;
}
.header3{
    width: auto;
    position: absolute;
    color: white;
    bottom: 30%;
    right: 4%;
    font-size: 10px;
}

.rows{
    padding-left: 18%;

}
.portfolio1{
    font-size: large;
    padding-left: 6%;
}  
.Whatwedo{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 9px;
    justify-content:center;
}
.design{
    
}
.development{
   
}
.socialicons{
   margin-left: auto;
   margin-right: auto; 
}
.contact{
    position: absolute;
    color: white;
    text-align: center;
    margin-left: 4%;
    top: 426%;
    opacity: 0.2;
    border-color: white;
    width: 100%;
}